In [1]:
import pandas as pd
import numpy as np
import json

from cemantix_game import play_cemantix

from gensim.models import KeyedVectors

# Models

## DummyModel

In [2]:
from dummymodel import DummyModel

In [3]:
model_name = "frWiki_no_phrase_no_postag_700_cbow_cut100"

model_word2vec = KeyedVectors.load_word2vec_format("./models/{}/{}.bin".format(model_name, model_name), binary=True, unicode_errors="ignore")

In [4]:
with open("./models/{}/params.json".format(model_name)) as fp:
        params_model = json.load(fp)

In [5]:
params_model

{'name': 'frWiki_no_phrase_no_postag_700_cbow_cut100',
 'stdScaler': {'mean': 22.940645080734072, 'scale': 2.82355588003816},
 'mmScaler': {'min': -8.124735832214355, 'max': 13.903473854064941}}

In [6]:
dummy = DummyModel(model = model_word2vec)

In [7]:
game = play_cemantix(strategy=dummy, resume=None, max_turn=5)

In [8]:
game

    word  score_cemantix
0     la           15.84
1   être           17.15
2     en            8.17
3    une            2.73
4  avoir           18.46

In [9]:
game_resume = play_cemantix(strategy=dummy, resume=game, max_turn=10)

In [10]:
game_resume

        word  score_cemantix
0         la           15.84
1       être           17.15
2         en            8.17
3        une            2.73
4      avoir           18.46
5         il           21.63
6        par            6.00
7  catégorie           -4.69
8       pour            3.77
9        sur            0.51

## Distances model

In [11]:
from sklearn.metrics.pairwise import euclidean_distances
from distancebasedmodel import DistanceBasedModel

In [12]:
distance_model = DistanceBasedModel(model = model_word2vec,
                                    params = params_model,
                                    distance_func = euclidean_distances,
                                    gamma = 0.99)

In [13]:
game = play_cemantix(strategy=distance_model, resume=None, max_turn=10)

In [15]:
distance_model.df_game

              word score_cemantix score_inversed
0               la          15.84      26.172868
1    fleurissement         -12.47      34.976978
2         incolore           0.53      30.934116
3  immatriculation           1.01      30.784841
4   hétérocyclique          -7.35      33.384712
5         torpille          13.95      26.760638
6            sonar           4.41      29.727477
7       propulsion          11.67      27.469694
8         blindage          12.01      27.363957